In [21]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
sports = pd.read_csv("sports.csv")

/var/folders/62/5fmsns653cv0g9fgly39bn040000gn/T/ipykernel_14758/1388011395.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  sports = pd.read_csv("sports.csv")

,year,unitid,institution_name,city_txt,state_cd,zip_text,classification_code,classification_name,classification_other,ef_male_count,...,partic_coed_women,sum_partic_men,sum_partic_women,rev_men,rev_women,total_rev_menwomen,exp_men,exp_women,total_exp_menwomen,sports
0,2015,100654,Alabama A & M University,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,1923,...,NaN,31,0,345592.0,NaN,345592.0,397818.0,NaN,397818.0,Baseball
1,2015,100654,Alabama A & M University,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,1923,...,NaN,19,16,1211095.0,748833.0,1959928.0,817868.0,742460.0,1560328.0,Basketball
2,2015,100654,Alabama A & M University,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,1923,...,NaN,61,46,183333.0,315574.0,498907.0,246949.0,251184.0,498133.0,All Track Combined
3,2015,100654,Alabama A & M University,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,1923,...,NaN,99,0,2808949.0,NaN,2808949.0,3059353.0,NaN,3059353.0,Football
4,2015,100654,Alabama A & M University,Normal,AL,35762.0,2,NCAA Division I-FCS,NaN,1923,...,NaN,9,0,78270.0,NaN,78270.0,83913.0,NaN,83913.0,Golf

In [5]:
sports = sports.loc[sports['classification_code'] == 1]

In [7]:
sports = sports.loc[sports['sports'] == 'Football']

In [17]:
sports_2019 = sports.loc[sports['year'] == 2019]
sports_2019.drop(['year','unitid','city_txt','state_cd','zip_text','classification_other','ef_female_count','ef_total_count','sector_cd','sector_name','sportscode','partic_women','partic_coed_men','partic_coed_women','sum_partic_men','sum_partic_women','rev_women','total_rev_menwomen','exp_women'],axis=1)
sports_2019.reset_index()

,index,year,unitid,institution_name,city_txt,state_cd,zip_text,classification_code,classification_name,classification_other,...,partic_coed_women,sum_partic_men,sum_partic_women,rev_men,rev_women,total_rev_menwomen,exp_men,exp_women,total_exp_menwomen,sports
0,70177,2019,100663,University of Alabama at Birmingham,Birmingham,AL,35294.0,1,NCAA Division I-FBS,NaN,...,NaN,127,0,12179203.0,NaN,12179203.0,12179203.0,NaN,12179203.0,Football
1,70291,2019,100751,The University of Alabama,Tuscaloosa,AL,35487.0,1,NCAA Division I-FBS,NaN,...,NaN,135,0,110110211.0,NaN,110110211.0,58508853.0,NaN,58508853.0,Football
2,70405,2019,100858,Auburn University,Auburn,AL,36849.0,1,NCAA Division I-FBS,NaN,...,NaN,122,0,97665511.0,NaN,97665511.0,45953519.0,NaN,45953519.0,Football
3,71394,2019,102094,University of South Alabama,Mobile,AL,36688.0,1,NCAA Division I-FBS,NaN,...,NaN,117,0,8761787.0,NaN,8761787.0,8979034.0,NaN,8979034.0,Football
4,71483,2019,102368,Troy University,Troy,AL,36082.0,1,NCAA Division I-FBS,NaN,...,NaN,125,0,7431780.0,NaN,7431780.0,8129799.0,NaN,8129799.0,Football
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,128415,2019,238032,West Virginia University,Morgantown,WV,26506.0,1,NCAA Division I-FBS,NaN,...,NaN,127,0,18962505.0,NaN,18962505.0,22221317.0,NaN,22221317.0,Football
123,129399,2019,240444,University of Wisconsin-Madison,Madison,WI,53706.0,1,NCAA Division I-FBS,NaN,...,NaN,117,0,87408161.0,NaN,87408161.0,29316118.0,NaN,29316118.0,Football
124,129737,2019,240727,University of Wyoming,Laramie,WY,82071.0,1,NCAA Division I-FBS,NaN,...,NaN,118,0,17300935.0,NaN,17300935.0,12391721.0,NaN,12391721.0,Football
125,130255,2019,243744,Stanford University,Stanford,CA,94305.0,1,NCAA Division I-FBS,NaN,...,NaN,102,0,40933017.0,NaN,40933017.0,27738893.0,NaN,27738893.0,Football
126,130290,2019,243780,Purdue University-Main Campus,West Lafayette,IN,47907.0,1,NCAA Division I-FBS,NaN,...,NaN,109,0,51946990.0,NaN,51946990.0,23815344.0,NaN,23815344.0,Football

In [19]:
sports_2018 = sports.loc[sports['year'] == 2018]
sports_2018.drop(['year','unitid','city_txt','state_cd','zip_text','classification_other','ef_female_count','ef_total_count','sector_cd','sector_name','sportscode','partic_women','partic_coed_men','partic_coed_women','sum_partic_men','sum_partic_women','rev_women','total_rev_menwomen','exp_women'],axis=1)
sports_2018.reset_index()

,index,year,unitid,institution_name,city_txt,state_cd,zip_text,classification_code,classification_name,classification_other,...,partic_coed_women,sum_partic_men,sum_partic_women,rev_men,rev_women,total_rev_menwomen,exp_men,exp_women,total_exp_menwomen,sports
0,52401,2018,100663,University of Alabama at Birmingham,Birmingham,AL,35294.0,1,NCAA Division I-FBS,NaN,...,NaN,124,0,11921225.0,NaN,11921225.0,11725395.0,NaN,11725395.0,Football
1,52432,2018,100751,The University of Alabama,Tuscaloosa,AL,35487.0,1,NCAA Division I-FBS,NaN,...,NaN,133,0,94604899.0,NaN,94604899.0,69718059.0,NaN,69718059.0,Football
2,52455,2018,100858,Auburn University,Auburn,AL,36849.0,1,NCAA Division I-FBS,NaN,...,NaN,122,0,95157216.0,NaN,95157216.0,47846261.0,NaN,47846261.0,Football
3,52633,2018,102094,University of South Alabama,Mobile,AL,36688.0,1,NCAA Division I-FBS,NaN,...,NaN,117,0,9783711.0,NaN,9783711.0,10130130.0,NaN,10130130.0,Football
4,52665,2018,102368,Troy University,Troy,AL,36082.0,1,NCAA Division I-FBS,NaN,...,NaN,119,0,8995915.0,NaN,8995915.0,8571387.0,NaN,8571387.0,Football
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,69186,2018,238032,West Virginia University,Morgantown,WV,26506.0,1,NCAA Division I-FBS,NaN,...,NaN,132,0,24692746.0,NaN,24692746.0,22290035.0,NaN,22290035.0,Football
123,69503,2018,240444,University of Wisconsin-Madison,Madison,WI,53706.0,1,NCAA Division I-FBS,NaN,...,NaN,115,0,89944636.0,NaN,89944636.0,31714090.0,NaN,31714090.0,Football
124,69583,2018,240727,University of Wyoming,Laramie,WY,82071.0,1,NCAA Division I-FBS,NaN,...,NaN,116,0,13649998.0,NaN,13649998.0,13649998.0,NaN,13649998.0,Football
125,69783,2018,243744,Stanford University,Stanford,CA,94305.0,1,NCAA Division I-FBS,NaN,...,NaN,102,0,44462092.0,NaN,44462092.0,30470121.0,NaN,30470121.0,Football
126,69803,2018,243780,Purdue University-Main Campus,West Lafayette,IN,47907.0,1,NCAA Division I-FBS,NaN,...,NaN,118,0,54752462.0,NaN,54752462.0,27342141.0,NaN,27342141.0,Football

In [69]:
url = "https://www.teamrankings.com/ncf/trends/win_trends/?range=yearly_2019"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
table = soup.find("tbody")
rows = table.find_all("tr")
name = []
win_perc = []
for row in table.find_all("tr")[0:]:
    team_name = row.find_all("td")[0].text.strip()
    win_percentage = row.find_all("td")[2].text.strip()
    name.append(team_name)
    win_perc.append(win_percentage)
data = {"Team": name, "Win Percentage": win_perc}
wins_2019 = pd.DataFrame(data)

In [70]:
url = "https://www.teamrankings.com/ncf/trends/win_trends/?range=yearly_2018"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
table = soup.find("tbody")
rows = table.find_all("tr")
name = []
win_perc = []
for row in table.find_all("tr")[0:]:
    team_name = row.find_all("td")[0].text.strip()
    win_percentage = row.find_all("td")[2].text.strip()
    name.append(team_name)
    win_perc.append(win_percentage)
data = {"Team": name, "Win Percentage": win_perc}
wins_2018 = pd.DataFrame(data)

In [71]:
wins_2019

             Team Win Percentage
0             LSU         100.0%
1         Clemson          93.3%
2       App State          92.9%
3      Ohio State          92.9%
4        Oklahoma          85.7%
..            ...            ...
126        U Mass           8.3%
127    TX El Paso           8.3%
128  Old Dominion           8.3%
129         Akron           0.0%
130     James Mad           0.0%

[131 rows x 2 columns]

In [73]:
wins_2018

             Team Win Percentage
0         Clemson         100.0%
1         Alabama          93.3%
2      Ohio State          92.9%
3      Central FL          92.3%
4      Notre Dame          92.3%
..            ...            ...
126  Central Mich           8.3%
127   Connecticut           8.3%
128   San Jose St           8.3%
129    TX El Paso           8.3%
130     James Mad           0.0%

[131 rows x 2 columns]